<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <package android:name="com.gabama.monopostolite" />
    </queries>

    <application
        android:allowBackup="true"
        android:label="Monoposto Carreira"
        android:theme="@android:style/Theme.Material.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
